
/* table header in dark mode */
body.dark_mode th{
    background-color: #424345;
}
/* border of each cell in dark mode */
body.dark-mode th,
body.dark-mode td{
    border:2px solid white;
}
/* book and review button in dark mode */
body.dark-mode button{
    background: radial-gradient(circle at top, #087670, #0c0c0c);
}

/* table header in light mode */
th{
    background-color: #6e7072;
}
/* all table cells styles */
th,td{
    border:2px solid black;
    padding:10px 20px;
    text-align:center;
}
/* book and review button in light mode */
button{
    background: radial-gradient(circle at top, #32dcd3, #dedbdb);
}
/* table styles */
table{
    border:2px solid black;
    border-radius: 10px;
    width:60%;
    border-collapse:collapse;
    margin:auto;
}